/* Quick settings for the site's theme's color, layout, and fonts are here */

/* ===== COLORS ===== */
// Change any of these to alter the look of the theme's colors

$site-frame-color: #FAFAFA; // color that surrounds the website on the left & right (irrelevant if header/footer/content width is set to 100%
$site-background-color: #FAFAFA; // base background color for the site's content
$site-header-color: #171717; // background color of the site header
$site-header-mobile-dropdown-menu-color: #676767; // background color of (mobile only) dropdown nav menu
$site-title-color: #FAFAFA; // color of the site title / authors
$site-footer-color: #171717; // background color of the site header
$site-accent-color: #8A100B; // accent color of site (used in the footer)
$site-header-image-url : ''; // LEAVE BLANK unless you want an image as a header background. If you do, point to assets directory like /assets/img/put-your-filename-here.jpeg

$link-base-color: #8A100B; // color of a regular link
$link-visited-color: #8A100B; // color of a regular link when visited
$link-hover-color: #171717; // color of a regular link upon hover
$link-header-base-color: #FAFAFA; // color of a link in the site header
$link-header-hover-color: #b29d6c; // color of a link in the site header when hovering
$link-footer-base-color: #FAFAFA; // color of a linnk in the site footer
$link-footer-hover-color: #b29d6c; // color of a link in the site footer when hovering
$link-dropdown-base-color: #171717; // color of the link in the nav menu
$link-dropdown-hover-color: #8A100B; // color of the link in the nav menu when hovering

$body-text-color: #171717; // color of text inside paragraphs of body of the site
$body-greyed-text: #676767; // color of greyed text
$header-text-color: #FAFAFA; // color of regular text in the header
$footer-text-color: #FAFAFA; // color of regular text in the footer
$mobile-dropdown-menu-text-color: #FAFAFA; // the color of regular text in the mobile dropdown nav menu

$search-bar-background: #FAFAFA; // background color for the search bar
$search-bar-results: #8A100B; // color for the results of the search
$search-bar-border: #171717; // color for the border surrounding the search bar

$code-block-color: #171717; // don't change this unless you knwo what you are doing, only used if using <code> tags to quote code in your posts/pages

/* ===== FONTS ===== */
// To change fonts, you need TWO things, to IMPORT the font (which fetches the font files), and to set the name of the font in the variable settings
// 1. Go to fonts.google.com, select a font, choose 'Get Font', then 'Get Embed Code', then chose the @import option. Copy the @import statement to replace one of the statements below
// 2. Copy the CSS name of that font family, and replace the respective font name below, either $title-font-family or $body-font-family

/* import statements for fonts.  */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$title-font-family: "Cabin"; // font for the site's title
$title-font-style: sans-serif; // either serif or sans serif
$body-font-family: "Montserrat"; // font for the majority of site content
$body-font-style: sans-serif; // either serif or sans serif

/* ===== LAYOUT ===== */
$site-max-width: 1232px; // maximum width of the site, keep 100% for full width, or 1000px for 1000 pixels wide